---
import { About } from '@Entrypoints/about/About'
import { ContactForm } from '@Entrypoints/about/ContactForm'
import { Border } from '@Atoms/Border'
import { Card } from '@Atoms/Card'
import BaseLayout from '@layout/BaseLayout.astro'
import * as styles from '@/styles/pages/about.css'

const pageTitle = 'nits-tips | About'
const description = 'nobumitsu-1995による技術tipsの備忘録集。概要ページです。'
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <main class={styles.container}>
    <div class={styles.cardContainer}>
      <Card padding='48px 28px'>
        <About />
        <Border />
        <div id='contact' class={styles.contactForm}>
          <ContactForm client:load />
        </div>
      </Card>
    </div>
  </main>
</BaseLayout>
